a.router-link-active {
  color: #333; /* или любой другой цвет */
  font-weight: normal;
}

a {
  color: #000000; /* или любой другой цвет для неактивных ссылок */
  text-decoration: none;
}

.clickable-title {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* Анимированный градиент */
.animated-gradient {
  background: linear-gradient(
    90deg,
    #00ff6a,
    #00b52a,
    #00e676,
    #00ff6a
  );
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
